body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

#shortened-url {
    text-align: center;
    font-size: 16px;
    color: #4caf50;
}